package ${packageName}.domain;

    #foreach ($import in $subImportList)
    import ${import};
    #end
import com.baomidou.mybatisplus.annotation.*;
import lombok.Data;
import lombok.EqualsAndHashCode;

/**
 * ${subTable.functionName}对象 ${subTableName}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
@EqualsAndHashCode(callSuper = true)
@TableName("${subTableName}")
public class ${subClassName} extends BaseEntity
        {
private static final long serialVersionUID=1L;

#foreach ($column in $subTable.columns)
    #if(!$table.isSuperColumn($column.javaField))
    /** $column.columnComment */
        #if($column.javaField == $pkColumn.javaField)
        @TableId(value = "${column.columnName}", type = IdType.AUTO)
        #else
        @TableField("${column.columnName}")
        #end
        #if($column.javaType == 'Date')
        @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss")
        #end
    private $column.javaType $column.javaField;

    #end
#end
}