<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.asset.mapper.AcceptanceMapper">

    <resultMap type="com.ruoyi.asset.domain.Acceptance" id="AcceptanceResult">
        <result property="id" column="id"/>
        <result property="acceptanceCode" column="acceptance_code"/>
        <result property="purchaseId" column="purchase_id"/>
        <result property="supplierId" column="supplier_id"/>
        <result property="invoiceNo" column="invoice_no"/>
        <result property="contractNo" column="contract_no"/>
        <result property="acceptanceDate" column="acceptance_date"/>
        <result property="acceptanceResult" column="acceptance_result"/>
        <result property="qualifiedQuantity" column="qualified_quantity"/>
        <result property="acceptancePersonId" column="acceptance_person_id"/>
        <result property="businessStatus" column="business_status"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <sql id="selectAcceptanceVo">
        select id,
               acceptance_code,
               purchase_id,
               supplier_id,
               invoice_no,
               contract_no,
               acceptance_date,
               acceptance_result,
               qualified_quantity,
               acceptance_person_id,
               business_status,
               remark,
               create_by,
               create_time,
               update_by,
               update_time,
               del_flag
        from asset_acceptance
    </sql>

    <select id="selectAcceptanceList" parameterType="com.ruoyi.asset.domain.Acceptance" resultMap="AcceptanceResult">
        <include refid="selectAcceptanceVo"/>
        <where>

            <if test="acceptanceCode != null  and acceptanceCode != ''">and acceptance_code = #{acceptanceCode}</if>
            <if test="purchaseId != null ">and purchase_id = #{purchaseId}</if>
            <if test="supplierId != null ">and supplier_id = #{supplierId}</if>
            AND del_flag = '0'
        </where>
    </select>

    <select id="selectAcceptanceById" parameterType="Long" resultMap="AcceptanceResult">
        <include refid="selectAcceptanceVo"/>
        where id = #{id} AND del_flag = '0'
    </select>


</mapper>